body {
    background-color: #aee683;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gameBox {
    display: flex;
    flex-direction: row;
}

#buttonsBox {
    width: 50%;
}

#resetBtn {
    margin-top: 4vw;
}
button {
    font-size: calc(10px + 2vw);
    font-family: monospace;
    margin: 1vw;
    display: flex;
    color: red;

}

#outcome {
    display: flex;
    color: red;
    width: 50%;
    justify-content: center;
    font-size: calc(10px + 2vw);
    margin-left: 2vw;
}
