#mainContainer {
    background-color: DarkSeaGreen;
    margin: 5vw;
    padding: 2vw;
    border: solid 3px green;
}
#myH1 {
    color: green;
}

#myImage {
    width: 20%;
    border: double 6px green;
    border-radius: 10%;
    margin: 1vw;
}
q {
}
